$frodo-container-background: white !default;
$frodo-container-width: 960px !default;
$frodo-container-padding: 25px !default;
$frodo-container-margin: 0 auto !default;

$frodo-font: 14px/19px Helvetica, Arial;
$frodo-font-color: #333;
