<div class="frodo-color">
	<div class="frodo-color-swatch" style="background-color: {{ value }}">&nbsp;</div>
    <div class="frodo-color-name">{{ name }}</div>
    <div class="frodo-color-value">{{ value }}</div>
    <div class="frodo-color-alias">{{ variable }}</div>
</div>